ConsoleAppForWebSvc/Connected Services/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMovieIds">
        <s:complexType />
      </s:element>
      <s:element name="GetMovieIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMovieIdsResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMovie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMovieResult" type="tns:Movie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Movie">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="VideoCode" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="MovieTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MovieType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rating" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RentalPrice" nillable="true" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="ProducerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Director" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Media" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalStock" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberRented" nillable="true" type="s:short" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMovieIdsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMovieIds" />
  </wsdl:message>
  <wsdl:message name="GetMovieIdsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMovieIdsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMovieSoapIn">
    <wsdl:part name="parameters" element="tns:GetMovie" />
  </wsdl:message>
  <wsdl:message name="GetMovieSoapOut">
    <wsdl:part name="parameters" element="tns:GetMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetMovieIds">
      <wsdl:input message="tns:GetMovieIdsSoapIn" />
      <wsdl:output message="tns:GetMovieIdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <wsdl:input message="tns:GetMovieSoapIn" />
      <wsdl:output message="tns:GetMovieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMovieIds">
      <soap:operation soapAction="http://tempuri.org/GetMovieIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <soap:operation soapAction="http://tempuri.org/GetMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMovieIds">
      <soap12:operation soapAction="http://tempuri.org/GetMovieIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <soap12:operation soapAction="http://tempuri.org/GetMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:54867/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:54867/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>