ConsoleAppForWCF/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WCF_Movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="MovieTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RentalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalStock" type="xs:short" />
      <xs:element minOccurs="0" name="VideoCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCF_Movie" nillable="true" type="tns:WCF_Movie" />
</xs:schema>